.btn {
    min-width: 100%;
    text-align: center;
    display: inline-block;
    margin: 15px 0;
    @media (min-width: $screen-lg-min) {
       // margin: 10px 0;
    }
    &-go-video {
        border: 5px solid $gray_darker;
        padding: 15px;
        font-size: 18px;
        font-family: $ffbold;
        color: $gray_darker;
        @media (min-width: $screen-xs-min) {
            &, &:hover {
                color: #ffffff;
            }
            &:hover {
                background-color: rgba(0, 0, 0, 0.4);
            }
            border-color: #fff;
            min-width: 66.6667%;
            max-width: 66.6667%;
            margin-bottom: 30px;
            .arrow {
                color: #ffffff;
            }
        }
        @media (min-width:$screen-lg-min) {
            min-width: auto;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 30px;
        }
    }
    &-submit {
        background-color: $brand-primary;
        border: none;
        color: #fff;
        font-family: $ffbold;
        text-transform: uppercase;
        font-size: 25px;
        padding: 5px;
    }
    &-external {
        border: 2px solid $gray_darker;
        padding: 5px;
        font-family: $ffbold;
        font-size: 18px;
        margin-top: 5px;
    }
    &-tel {
        width: 90px;
        font-size: 28px;
        font-family: $ffbold;
        @media (min-width: $screen-lg-min) {
          //  margin: 0;
        }
    }
}

.arrow {
    color: $gray-darker;
}